@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  *{
    scroll-behavior: smooth;
  }
  .max-container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0.16rem;
    background-color: #fafbfc;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: #CED6F3;
  }


  .end-justify{
    justify-self: baseline !important;
    align-self: baseline !important;
    background-color: red;

  }
 

  .no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .no-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: #f1f2f2b4;
  }
}

@layer utilities{

  .smooth-transition{
    transition: all ease-in-out 0.5s;
  }

  .fill-vibrant{
    fill: #CED6F3;
  }

  .scale-hover{
    fill: #db9864;
    scale: 1.5;
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .background-animate-text{
    background:radial-gradient(circle, dodgerblue, #db9864);

    animation: textbganimate 7s linear infinite;
    background-size: 200% 200%;
    background-clip: text;
    fill: transparent;
    color: transparent;
  }

  @keyframes textbganimate {
    0%{
      background-position: 0% 0%;
    }

    50%{
      background-position: 100% 100%;

    }

    100%{
      background-position: 0% 0%;

    }
  }
}